##  Introduction to Data Visualization with Altair

Notebook to accompany article on PB Python.
http://pbpython.com/altair-intro.html

In [1]:
pip install altair

Requirement already satisfied: altair in c:\users\cti110016\anaconda3\lib\site-packages (4.2.0)
Requirement already satisfied: entrypoints in c:\users\cti110016\anaconda3\lib\site-packages (from altair) (0.3)
Requirement already satisfied: numpy in c:\users\cti110016\anaconda3\lib\site-packages (from altair) (1.20.3)
Requirement already satisfied: jsonschema>=3.0 in c:\users\cti110016\anaconda3\lib\site-packages (from altair) (3.2.0)
Requirement already satisfied: toolz in c:\users\cti110016\anaconda3\lib\site-packages (from altair) (0.11.1)
Requirement already satisfied: pandas>=0.18 in c:\users\cti110016\anaconda3\lib\site-packages (from altair) (1.3.4)
Requirement already satisfied: jinja2 in c:\users\cti110016\anaconda3\lib\site-packages (from altair) (2.11.3)
Requirement already satisfied: six>=1.11.0 in c:\users\cti110016\anaconda3\lib\site-packages (from jsonschema>=3.0->altair) (1.16.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\cti110016\anaconda3\lib\site-packages (from jsonschema>=3.0->altair) (0.18.0)
Requirement already satisfied: setuptools in c:\users\cti110016\anaconda3\lib\site-packages (from jsonschema>=3.0->altair) (62.6.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\cti110016\anaconda3\lib\site-packages (from jsonschema>=3.0->altair) (21.2.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\cti110016\anaconda3\lib\site-packages (from pandas>=0.18->altair) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\cti110016\anaconda3\lib\site-packages (from pandas>=0.18->altair) (2021.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\cti110016\anaconda3\lib\site-packages (from jinja2->altair) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from altair import Chart, X, Y, Axis, SortField

In [3]:
%matplotlib inline

Read in the sample CSV file containing the MN 2014 capital budget

In [4]:
budget = pd.read_csv("https://github.com/chris1610/pbpython/raw/master/data/mn-budget-detail-2014.csv")

In [5]:
budget.head()

,category,detail,amount
0,UNIVERSITY OF MINNESOTA,Higher Education Asset Preservation (HEAPR) 1,42500000
1,UNIVERSITY OF MINNESOTA,Minneapolis; Tate Laboratory Renovation,56700000
2,UNIVERSITY OF MINNESOTA,Crookston; Wellness Center,10000000
3,UNIVERSITY OF MINNESOTA,Research Laboratories,8667000
4,UNIVERSITY OF MINNESOTA,Duluth; Chemical Sciences and Advanced Materia...,1500000

Make a basic plot of the top 10 expenditures using the default pandas plotting functions

In [6]:
budget_top_10 = budget.sort_values(by='amount',ascending=False)[:10]

In [7]:
budget_top_10.plot(kind="bar",x=budget_top_10["detail"],
                   title="MN Capital Budget - 2014",
                   legend=False)

KeyError: "None of [Index(['Capitol Renovation and Restoration Continued',\n       'Minneapolis; Tate Laboratory Renovation',\n       'Minnesota Security Hospital - St. Peter',\n       'Higher Education Asset Preservation (HEAPR) 1',\n       'Higher Education Asset Preservation (HEAPR) 2',\n       'Metropolitan State University', 'Minnesota State University - Mankato',\n       'Local Road Improvement Fund Grants', 'Minneapolis - Nicollet Mall',\n       'MN Housing Finance Agency'],\n      dtype='object')] are in the [columns]"

Build a similar plot in Altair

In [ ]:
c = Chart(budget_top_10).mark_bar().encode(
    x='detail',
    y='amount')
c

Convert to a horizontal bar graph

In [ ]:
c = Chart(budget_top_10).mark_bar().encode(
    y='detail',
    x='amount')
c

Look at the dictionary containing the JSON spec

In [ ]:
c.to_dict(data=False)

Use X() and Y() - does nothing in this example but is useful for future steps

In [ ]:
Chart(budget_top_10).mark_bar().encode(
    x=X('detail'),
    y=Y('amount')
)

Add in color codes based on the category. This automatically includes a legend.

In [ ]:
Chart(budget_top_10).mark_bar().encode(
    x=X('detail'),
    y=Y('amount'),
    color="category"
)

Show what happens if we run on all data, not just the top 10

In [ ]:
Chart(budget).mark_bar().encode(
    x='detail',
    y='amount',
    color='category')

Filter data to only amounts >= $10M

In [ ]:
Chart(budget).mark_bar().encode(
    x='detail:N',
    y='amount:Q',
    color='category').transform_data(
      filter='datum.amount >= 10000000',
        )

Swap X and Y in order to see it as a horizontal bar chart

In [ ]:
Chart(budget).mark_bar().encode(
    y='detail:N',
    x='amount:Q',
    color='category').transform_data(
      filter='datum.amount >= 10000000',
        )

Equivalent approach using X and Y classes

In [ ]:
Chart(budget).mark_bar().encode(
    x=X('detail:O',
        axis=Axis(title='Project')),
    y=Y('amount:Q',
        axis=Axis(title='2014 Budget')),
    color='category').transform_data(
      filter='datum.amount >= 10000000',
        )

Order the projects based on their total spend

In [ ]:
Chart(budget).mark_bar().encode(
    x=X('detail:O', sort=SortField(field='amount', order='descending', op='sum'),
        axis=Axis(title='Project')),
    y=Y('amount:Q',
        axis=Axis(title='2014 Budget')),
    color='category').transform_data(
      filter='datum.amount >= 10000000',
        )

Summarize the data at the category level

In [ ]:
Chart(budget).mark_bar().encode(
    x=X('category', sort=SortField(field='amount', order='descending', op='sum'),
        axis=Axis(title='Category')),
    y=Y('sum(amount)',
        axis=Axis(title='2014 Budget')))

In [ ]:
c = Chart(budget).mark_bar().encode(
    y=Y('category', sort=SortField(field='amount', order='descending', op='sum'),
        axis=Axis(title='Category')),
    x=X('sum(amount)',
        axis=Axis(title='2014 Budget')))
c

In [ ]:
c.to_dict(data=False)